#outer-box {
  border: 4px solid #ebd834;
  border-radius: 0px;
}

#inner-box {
  border: none;
  border-radius: 0px;
  outline: none;
}

#input, #input:focus {
  border: none;
  border-radius: 0px;
  outline: none;
}

#entry:selected {
  border: none;
  border-radius: 0px;
  background-color: #484848;
  outline: none;
 }
