# http://apt-browse.org/browse/ubuntu/trusty/universe/amd64/mc/3:4.8.11-1/file/etc/mc/mc.keymap
[panel]
Search = ctrl-s; ?
Down = down; j
Up = up; k
Enter = enter; o; l
CdParentSmart = backspace; x; h
Top = home; g
Bottom = end; G
Mark = space; ctrl-t
