* {
	font-size: 13px;
	font-family: monospace;
}

window#waybar {
	background: rgba(31, 31, 31, 0.9);
	color: #d3d3d3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#backlight,
#custom-vpn,
#custom-ping,
#custom-firejail,
#network,
#disk,
#tray {
	color: #d3d3d3;
}

#mode {
	color: black;
	background: red;
  padding: 0 10px 0 10px;
}

#workspaces button {
	padding: 0;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #1f1f1f;
	background: #ebd834;
  border-radius: 0;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
  border: 0;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#custom-ping {
	color: #919191;
}
#custom-firejail {
	color: red;
  font-weight: bold;
	padding-right: 6px;
}
#network {
	color: #919191;
}

#clock {
	padding: 0 6px;
}

#clock.2 {
  font-style: italic;
}

#clock.3 {
  font-weight: bold;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#custom-vpn,
#custom-ping,
#network,
#backlight,
#disk {
	padding: 0 10px;
}
