"*":
  "atom-beautify":
    _analyticsUserId: "04f8ff88-4c4a-4a9b-873d-ad06b8421a17"
  "atom-clock": {}
  autosave:
    enabled: true
  "clipboard-plus": {}
  core:
    disabledPackages: [
      "linter-jshint"
      "linter-csslint"
      "linter-htmlhint"
      "linter-jsonlint"
      "linter-sass-lint"
      "linter-jscs"
      "jscs-fixer"
      "spell-check"
      "minimap"
      "autoclose-html"
      "vim-mode"
      "json-colorer"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 11
    invisibles: {}
    lineHeight: 1.1
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "91eb295a-88d1-fb2e-a767-5d5c7396c823"
  "file-icons":
    coloured: false
  "git-plus": {}
  linter:
    showErrorPanel: false
  "linter-gcc": {}
  "linter-jscs":
    displayAs: "jscs Error"
    fixOnSave: true
  "merge-conflicts": {}
  minimap:
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      "highlight-selected": true
      pigments: true
  "modal-file-manager": {}
  "one-dark-ui": {}
  pigments: {}
  "project-manager": {}
  "python-tools": {}
  "symbols-tree-view": {}
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          red: 0
          green: 150
          blue: 255
          alpha: 1
        red:
          red: 255
          green: 38
          blue: 0
          alpha: 1
        white:
          red: 214
          green: 214
          blue: 214
          alpha: 1
    core:
      scrollback: 10000
    style:
      animationSpeed: 0
      fontSize: "10"
      theme: "dracula"
  "todo-show": {}
  "tree-view": {}
  "tree-view-open-files": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".c.source":
  editor:
    showInvisibles: false
