"dotfiles-osx":
  title: "dotfiles-osx"
  paths: [
    "/Users/tibor/github/dotfiles-osx"
  ]
"tiborsimon.io":
  title: "tiborsimon.io"
  paths: [
    "/Users/tibor/github/tiborsimon.io"
  ]
worklog:
  title: "worklog"
  paths: [
    "/Users/tibor/github/worklog"
  ]
